<div class="wrap">
  <div class="inner" style="text-align: center">
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %> All Rights Reserved
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %> All Rights Reserved
    <% } %>

    / <a href="https://github.com/kywk/hexo-theme-biture">biture</a> for <a href="http://zespia.tw/hexo/">hexo</a>
    / developed by <a href="http://kywk.github.io/moco/">MooCow (kywk)</a>.
  </div>
	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=10733447; 
	var sc_invisible=0; 
	var sc_security="38eda656"; 
	var sc_text=2; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="shopify site
	analytics" href="http://statcounter.com/shopify/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/10733447/0/38eda656/0/"
	alt="shopify site analytics"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
</div>
